html,body {
    background-color: #3f3047;
    height: 99.2%;
    }
.container {
    margin: auto;
    padding: 0;
 }
 div {
    width: 100%;
    font-size: 200%;
    text-align: center;
    color: yellow;
    text-shadow: 0 0 2px #3f3047;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 100%;
        height: 100%;
    }
 }
 .container {
    display: grid;
    gap: 5px;
    grid-template-columns:repeat(auto-fit, min-max(200px,1 fr));
    grid-template-rows: 200px;
    grid-auto-rows: dense;
 }
 .horizontal{
    grid-column: span 2;
 }
 .vertical{
    grid-row: span;
 }
 .large-square {
    grid-column: span 2;
    grid-row: span 2;
 }


//.header {
/*    background-color: aqua;
    grid-column: 1 / -1;
 }

.menu {
    background-color: red;
    grid-column: main-start / content end
 }

.content {
    background-color: blueviolet;
 grid-column: content-start / content-end;
}
.footer {
    background-color: yellow;
    grid-column: content-start /main-end;
}
}
//.container { 
//    height: 100%;
//    display: grid;
//    gap: 5px;
  //  grid-template-columns: [main-start] 1fr [content-start] 5fr [content-end main-end];
 //   grid-template-rows: [main-start] 50px [content-start]auto[content-end] 50px [main-end];
