//variables
$font-stack: Arial, Helvetica, sans-serif;
$light-color: #ffe8d6;
//$main-color: #a5a58d;
$main-color: #383835;
$secondary-color: #ee9b00;
//functions
@function set-text-color($color) {
    @if (lightness($color)) > 70 {
        @return black;
    } @else { 
        @return white;

    }
    }
    //mixin
@mixin set-background($color) {
    background-color: $color;
    color:set-text-color($color)
}
